In [1]:
%load_ext autoreload
%autoreload 1
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib, collections, itertools, os, re, textwrap, logging
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib.patches as mpatches
from matplotlib_venn import venn3
from functools import reduce

matplotlib.rc('font',**{'size':16, 'family':'sans-serif','sans-serif':['HelveticaNeue', 'Helvetica']})

In [10]:
import sys

In [36]:
import re

In [11]:
sys.path.append('../../helper/')

In [12]:
from rivaslab_PRS_misc import pd_read_csv_usecols_by_key

In [ ]:
class sumstats():
    def __init__(self, file_name):
        self.file_name = file_name
        self.linear = (file_gwas.endswith('glm.linear.gz') or file_gwas.endswith('glm.linear'))

In [80]:
def read_GWAS(file_gwas):
    if file_gwas.endswith('glm.logistic.hybrid.gz'):
        BETA_or_OR = 'OR'
    elif file_gwas.endswith('glm.linear.gz'):
        BETA_or_OR = 'BETA'
    else:
        BETA_or_OR = None
    return pd_read_csv_usecols_by_key(
        file_gwas, 
        cols=['ID', 'P', BETA_or_OR, 'SE', 'REF', 'ALT', 'A1'],
        compression='gzip', sep='\t'
    )    

def read_clumped(file_clumped):
    df = pd_read_csv_usecols_by_key(
        file_clumped, 
        cols=['SNP', 'SP2'],
        compression='gzip', sep='\s+', 
    )
    df['SP2_list'] = df['SP2'].map(
        lambda x: [] if x == 'NONE' else 
        [re.sub('\(\d\)$', '', z) for z in x.split(',')]
    )
    df['SNPs'] = [
        [x[0]] + x[1] for x in zip(
            df['SNP'], df['SP2_list']
        )
    ]    
    dict_clumped_SNPs_to_tag_SNPs = dict(
        itertools.chain.from_iterable(
            [zip(x[1], [x[0]] * len(x[1])) 
             for x in zip(df['SNP'], df['SNPs'])]
        )
    )
    return(dict_clumped_SNPs_to_tag_SNPs)

In [3]:
file_gwas = '../../private_output/vanilla_PRS/HC_20190302/2_GWAS/ukb16698_v2.HC276.PHENO1.glm.logistic.hybrid.gz'

True

In [70]:
file_clumped = '../../private_output/vanilla_PRS/HC_20190302/3_clump/1e-3/ukb16698_v2.HC276.PHENO1.glm.logistic.hybrid.clumped.gz'

In [75]:
file_snpnet = '../../private_output/snpnet_PRS/HC_20190303/3_snpnet/HC276.tsv.gz'

In [81]:
df_gwas = read_GWAS(file_gwas)

In [83]:
df_gwas.shape

(778731, 7)

In [84]:
df_gwas.dropna().shape

(778731, 7)

In [73]:
dict_clumped = read_clumped(file_clumped)

In [76]:
df_snpnet = pd.read_csv(file_snpnet, sep='\t', compression='gzip')

In [77]:
df_snpnet.head()

   #CHROM      POS          ID REF ALT A1      BETA
0       1  2338126   rs3795269   C   A  A  0.000000
1       1  2416357   rs4648639   A   G  G  0.002009
2       1  2443655    rs733307   G   A  A  0.000000
3       1  3038623   rs2742672   A   G  G  0.000000
4       1  3168462  rs12143201   T   C  C  0.000000

In [31]:
df = pd.read_csv(
    file_clump, 
    compression='gzip', sep='\s+', nrows=10
)

In [38]:
re.sub('\(1\)', '', 'snp(1)')

'snp'

In [41]:
df['SP2_list'] = df['SP2'].map(
    lambda x: [] if x == 'NONE' else 
    [re.sub('\(\d\)$', '', z) for z in x.split(',')]
)

In [42]:
df['SNPs'] = [
    [x[0]] + x[1] for x in zip(
        df['SNP'], df['SP2_list']
    )
]

In [44]:
df[['SNP', 'SP2_list', 'SNPs']]

,SNP,SP2_list,SNPs
0,rs4656461,[rs7555523],"[rs4656461, rs7555523]"
1,rs7865618,"[rs1063192, rs573687, rs523096, rs10965215, rs...","[rs7865618, rs1063192, rs573687, rs523096, rs1..."
2,rs4552460,[rs28503942],"[rs4552460, rs28503942]"
3,rs3217992,[],[rs3217992]
4,rs6811851,[],[rs6811851]
5,rs12150284,"[rs9893168, rs9914258]","[rs12150284, rs9893168, rs9914258]"
6,rs6475606,"[rs1333040, rs10757272, rs10757274, rs4977574,...","[rs6475606, rs1333040, rs10757272, rs10757274,..."
7,rs2437819,[rs1890883],"[rs2437819, rs1890883]"
8,rs33912345,"[rs1254282, rs10483727, rs17834412]","[rs33912345, rs1254282, rs10483727, rs17834412]"
9,rs72760779,[rs55795058],"[rs72760779, rs55795058]"

In [64]:
d = dict(
    itertools.chain.from_iterable(
        [zip(x[1], [x[0]] * len(x[1])) 
         for x in zip(df['SNP'], df['SNPs'])]
    )
)

In [67]:
len(set(d.values()))

10

In [ ]:
file_gwas <-   '../../private_output/vanilla_PRS/HC_20190302/2_GWAS/ukb16698_v2.HC276.PHENO1.glm.logistic.hybrid.gz'
file_clump <-  '../../private_output/vanilla_PRS/HC_20190302/3 4_clumped_GWAS/1e-3/ukb16698_v2.HC276.PHENO1.glm.logistic.hybrid.gz'