In [1]:
import numpy as np
import pandas as pd

In [41]:
v1_f = '/oak/stanford/groups/mrivas/projects/PRS/GBE_data/INI21001.eval.tsv'
v2_f = '/oak/stanford/groups/mrivas/users/ytanigaw/repos/rivas-lab/PRS/src/20211027_evaluation/dev.INI50.eval.tsv'
v2_pf = '/oak/stanford/groups/mrivas/users/ytanigaw/repos/rivas-lab/PRS/src/20211027_evaluation/dev.INI50.PRS_pval.tsv'

In [42]:
v1_df = pd.read_csv(v1_f, sep='\t')
v2_df = pd.read_csv(v2_f, sep='\t')
v2p_df = pd.read_csv(v2_pf, sep='\t')

In [25]:
split_format_dict = dict(zip(
    [
        'train_val', 'test', 'non_british_white', 'african', 's_asian', 'e_asian'
    ], [
        'white British (score development)', 'white British (hold-out test set)',
        'non-British white', 'African', 'South Asian', 'East Asian'
    ]
))

In [43]:
v2p_df.iloc[np.in1d(v2p_df['#split'])][['#split', 'P']]

,#split,variable,estimate,SE,z_or_t_value,P
0,train_val,(Intercept),165.540581,0.018002,9195.594940,0.000000e+00
1,train_val,PRS_INI50,1.243841,0.003769,329.983479,0.000000e+00
2,test,(Intercept),166.081479,0.039096,4248.034817,0.000000e+00
3,test,PRS_INI50,1.006650,0.008351,120.539089,0.000000e+00
4,non_british_white,(Intercept),165.822776,0.061894,2679.156489,0.000000e+00
5,non_british_white,PRS_INI50,1.000623,0.013281,75.340044,0.000000e+00
6,s_asian,(Intercept),161.725005,0.128493,1258.628992,0.000000e+00
7,s_asian,PRS_INI50,0.773605,0.028321,27.315542,7.717045e-157
8,african,(Intercept),164.862266,0.188602,874.126777,0.000000e+00
9,african,PRS_INI50,0.555286,0.035572,15.610021,6.076984e-54
10,e_asian,(Intercept),157.362868,0.339505,463.506514,0.000000e+00
11,e_asian,PRS_INI50,0.754500,0.057828,13.047252,3.802680e-37

In [26]:
split_format_dict['test']

'white British (hold-out test set)'

In [27]:
v1_df.head()

,#phenotype_name,split,geno,covar,geno_covar,geno_delta,n_variables,n
0,INI21001,train_val,0.329043,0.011275,0.334257,0.322982,27126,268856
1,INI21001,test,0.110525,0.010541,0.119987,0.109445,27126,67235
2,INI21001,non_british_white,0.103376,0.033028,0.130942,0.097914,27126,24795
3,INI21001,s_asian,0.064797,0.022318,0.087201,0.064884,27126,7639
4,INI21001,african,0.020286,0.045793,0.062642,0.016849,27126,6398

In [32]:
icd_str = 'INI50'

In [33]:
v2_df

,#response,predictors,metric,eval,l_eval,u_eval,P,split,n
0,INI50,PRS_INI50,r2,0.288049,0.285165,0.290933,0.000000e+00,train_val,269136
1,INI50,covar_INI50,r2,0.535049,0.532482,0.537616,0.000000e+00,train_val,269136
2,INI50,full_INI50,r2,0.815345,0.814087,0.816604,0.000000e+00,train_val,269136
3,INI50,PRS_INI50,r2,0.177569,0.172337,0.182800,0.000000e+00,test,67298
4,INI50,covar_INI50,r2,0.538329,0.533216,0.543442,0.000000e+00,test,67298
5,INI50,full_INI50,r2,0.717258,0.713643,0.720872,0.000000e+00,test,67298
6,INI50,PRS_INI50,r2,0.186102,0.177382,0.194822,0.000000e+00,non_british_white,24826
7,INI50,covar_INI50,r2,0.537014,0.528588,0.545440,0.000000e+00,non_british_white,24826
8,INI50,full_INI50,r2,0.701795,0.695591,0.707999,0.000000e+00,non_british_white,24826
9,INI50,PRS_INI50,r2,0.088888,0.076861,0.100915,7.717045e-157,s_asian,7650
10,INI50,covar_INI50,r2,0.583663,0.569580,0.597746,0.000000e+00,s_asian,7650
11,INI50,full_INI50,r2,0.665225,0.653136,0.677315,0.000000e+00,s_asian,7650
12,INI50,PRS_INI50,r2,0.036650,0.027686,0.045614,6.076984e-54,african,6407
13,INI50,covar_INI50,r2,0.476207,0.458638,0.493776,0.000000e+00,african,6407
14,INI50,full_INI50,r2,0.500121,0.482939,0.517304,0.000000e+00,african,6407
15,INI50,PRS_INI50,r2,0.091265,0.065249,0.117281,3.802680e-37,e_asian,1697
16,INI50,covar_INI50,r2,0.542063,0.510112,0.574014,8.971053e-290,e_asian,1697
17,INI50,full_INI50,r2,0.607583,0.578596,0.636570,0.000000e+00,e_asian,1697

In [40]:
v2_df.iloc[np.in1d(v2_df['metric'], ['r2', 'auc'])][
    ['predictors', 'split', 'eval']
].pivot(index='split',columns='predictors',values='eval').reset_index().rename(
    columns=dict(zip(
        ['{}_{}'.format(x, icd_str) for x in ['PRS', 'covar', 'full']],
        ['Genotype-only', 'Covariate-only', 'Full model']
    ))
).assign(
    delta = lambda x: x['Full model'] - x['Covariate-only'], 
).rename(
    columns=dict(zip(
        ['split', 'delta'],
        ['Ancestry group in UKB', 'diff (Full - Covariates)']
    ))
)[[
    'Ancestry group in UKB',
    'Genotype-only',
    'Covariate-only',
    'Full model',
    'diff (Full - Covariates)'
]]

predictors,Ancestry group in UKB,Genotype-only,Covariate-only,Full model,diff (Full - Covariates)
0,african,0.036650,0.476207,0.500121,0.023914
1,e_asian,0.091265,0.542063,0.607583,0.065520
2,non_british_white,0.186102,0.537014,0.701795,0.164781
3,s_asian,0.088888,0.583663,0.665225,0.081562
4,test,0.177569,0.538329,0.717258,0.178929
5,train_val,0.288049,0.535049,0.815345,0.280296